<h1>
    Weather Detector App
</h1>

Find Weather of your city:-

<center class="row">
    <form method="POST" action="" class="col-md-6 col-md-offset-3">
        {% csrf_token %}
        <div>
        <input type="text" class="form-control" name="city" placeholder="Enter City Name..." />
        </div>
        <div>
        <input type="submit" name="Search"/>
        </div>
    </form>
    </center>
    {% if data.city  %}
    <div>
        <h2>Your City is: {{data.city}}</h2>
        <h3>Your country code is: {{data.country}}</h3>
        <h3>City's Coordinates (lon lat) is: {{data.coordinate}}</h3>
        <h3>City's Temprature is: {{data.temp}}</h3>
        <h3>City's Pressure is: {{data.pressure}} hPa</h3>
        <h3>City's Humidity is: {{data.humidity}} %</h3>
        <h3>City's Wind's speed is: {{data.wind}}</h3>  
        <h2>City's Weather is: {{data.weather}}</h2>      
    </div>    
    {% else %}
    <div>
        To check the data, enter city name.
    </div>
    {% endif %}

