{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Home
{% endblock title %}

{% block content %}
Welcome to home page.

<br/>

<form action="" method="POST">
{% csrf_token %}
{{form|crispy}}
<button type="submit" class="btn btn-primary mt-3">Search</button>
</form>    
<br/>
{% if sale_df %}
   <p>Sales Data:</p>
   {{sale_df|safe}}
   <br/>
   <p>Position Data:</p>
   {{position_df|safe}}
   <br/>
   <p>Merged Data:</p>
   {{merged_df|safe}}
   <br/>
   <p>Main Data:</p>
   {{df|safe}}
{% else %}
   <h3>No data</h3>
{% endif %}

{% endblock content %}




